@charset "utf-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #404040;
    overflow-x: hidden;
    background-color: #000;
}

button, input, select, textarea{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type=button], input[type=reset], input[type=submit]{
    -webkit-appearance: button;
    cursor: pointer;
}

button, select{
    text-transform: none;
}

button{
    overflow: visible;
    outline: none;
}

button, input, optgroup, select, textarea{
    margin: 0;
    font: inherit;
    color: inherit;
}

a{
    text-decoration: none;
    background-color: transparent;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-default{
    .navbar-toggle{
        border-color: transparent;
        padding: 19px 16px;
        margin-top: 2px;
        margin-right: 2px;
        margin-bottom: 2px;
        border-radius: 50%;
    }
}